<%= form_with(model: school_detail, local: true) do |form| %>
  <% if school_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(school_detail.errors.count, "error") %> prohibited this school_detail from being saved:</h2>

      <ul>
      <% school_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :center_no %>
    <%= form.text_field :center_no %>
  </div>

  <div class="field">
    <%= form.label :emis %>
    <%= form.text_field :emis %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
