<p id="notice"><%= notice %></p>

<h1>Matrics Details</h1>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Wrote</th>
      <th>Passed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @matrics_details.each do |matrics_detail| %>
      <tr>
        <td><%= matrics_detail.year %></td>
        <td><%= matrics_detail.wrote %></td>
        <td><%= matrics_detail.passed %></td>
        <td><%= link_to 'Show', matrics_detail %></td>
        <td><%= link_to 'Edit', edit_matrics_detail_path(matrics_detail) %></td>
        <td><%= link_to 'Destroy', matrics_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Matrics Detail', new_matrics_detail_path %>
